{{!< default}}

<article class="post post-single">

    
    {{#post}}

    <div class="post--meta">
        <time datetime="{{date format='YYYY-MM-DD'}}">
            <span class="day">{{date format="DD"}}</span>
            <span class="month">{{date format="MMM"}}</span>
        </time>
    </div>

    <div class="post--content post-single--content">
        <p class="post-info">
            A <strong><span class="post-reading-time"></span></strong> read
            posted on <strong>{{date format="MMM DD, YYYY"}}</strong>
            {{#if tags}}in <strong>{{tags}}</strong>{{/if}}
        </p>
        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

         
    </div>

    <div class="disqusbox">
        <div id="disqus_thread">
            <form onsubmit="my.loadDisqus();return false;" class=formBlock>
                <input class="btn" type="submit" value="Load Comments">
            </form>
        </div>

        <script>
            var disqus_shortname = "hetzel";
            var disqus_identifier = '{{post.id}}';
            var my = my || {};
            my.loadDisqus = function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            };
        </script>
    </div>

    {{/post}}

</article>