<section class="article article--single">
  <time class="article-time" datetime="2015-05-16">
    <span class="day">
      {% if post.day %}
        {{ post.day }}
      {% else %}
        {{ post.post_date|date('j') }}
      {% endif %}
    </span>

    <span class="month">
      {% if post.month %}
        {{ post.month }}
      {% else %}
        {{ post.post_date|date('M') }}
      {% endif %}
    </span>
  </time>

  <div class="article-content">
    <p class="article-info">
      Posted on <strong>{{ post.date }}</strong> in 
      
      {% for cat in post.categories %}
        <strong class="article-info__cat">{{ cat }}</strong>
      {% endfor %}
    </p>

    <h1>{{ post.title }}</h1>

    <div class="article-text">
      <p>{{ post.content }}</p>
    </div>
  </div>

  <div class="comments">
    <div id="disqus_thread">
      <form onsubmit="my.loadDisqus();return false;" class="formBlock">
        <input class="btn" type="submit" value="Load Comments">
      </form>
    </div>

    <script>
      var disqus_shortname = "hetzel";
      var disqus_identifier = '{{post.id}}';
      var my = my || {};
      my.loadDisqus = function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      };
    </script>
  </div>
</section>
