<section class="article article--single">
  <time class="article-time" datetime="2015-05-16">
    <span class="day">
      {% if post.day %}
        {{ post.day }}
      {% else %}
        {{ post.post_date|date('j') }}
      {% endif %}
    </span>

    <span class="month">
      {% if post.month %}
        {{ post.month }}
      {% else %}
        {{ post.post_date|date('M') }}
      {% endif %}
    </span>
  </time>

  <div class="article-content">
    <p class="article-info">
      Posted on <strong>{{ post.date }}</strong> in 
      
      {% for cat in post.categories %}
        <strong class="article-info__cat">{{ cat }}</strong>
      {% endfor %}
    </p>

    <h1>{{ post.title }}</h1>

    <div class="article-text">
      <p>{{ post.content }}</p>
    </div>
  </div>

  <div class="comments">
    <div id="disqus_thread">
      <form onsubmit="my.loadDisqus();return false;" class="formBlock">
        <input class="btn" type="submit" value="Load Comments">
      </form>
    </div>

    <script>
      (function () {
        var disqus_config = function () {
          this.page.url = '{{ post.permalink }}';
          this.page.identifier = {{ post.id }};
        }
        var d = document, s = d.createElement('script');
        
        s.src = '//hetzel.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
</section>
